@model IEnumerable<TechPortal.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>

@Html.ActionLink("NEW CUSTOMER", "New", "Customer", null, new { @class = "btn btn-primary" })
<br/>
@if (Model.Count() <= 0)
{
    <p>No Customers Found</p>
}
else
{
    foreach (var customer in Model)
    {
    <p>@customer.CompanyName</p>
    <p>@Html.ActionLink(customer.CompanyName, "Edit","Customer", new { id = customer.ID }, null)</p>
    <p>@customer.City</p>
    <p>@customer.CustomerType.Discount</p>
    <hr />

    }
}